<!DOCTYPE html>
<html>
    <head>
        <title>Bienvenu sur ma premiere page Open Classrooms ! </title>
    </head>
    <body>
        <h1>Hello {{nom}} !</h1>
        <p>
            Le Hello {{nom}} est un grand classique de la programmation.
            Il signifie énormément.
	    On a réussi a afficher de Hello Word !
	</p>
    </body>
</html>
